@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  --primary-color: #ffffff;
  --secondary-color: #f0f2f5;
  --container-color: #ffffff;
  --sidenav-color: #001529;
  --header-color: #002140;

  /* text */
  --primary-text-color: #334454;
  --secondary-text-color: #848587;
  --container-text-color: #262626;
  --sidenav-text-color: #a6adb4;
}
/* Colors */

/* bg color */
.primary-bg {
  background: var(--primary-color);
}

.secondary-bg {
  background: var(--secondary-color);
}

.container-bg {
  background: var(--container-color);
}

.sidenav-bg {
  background: var(--sidenav-color);
}

.header-bg {
  background: var(--header-color);
}

/* text color */
.primary {
  color: white;
  /* color: var(--primary-text-color); */
}

.sidenav-text {
  color: var(--sidenav-text-color) !important;
}

/* Buttons color */
.btn-primary {
  background: rgba(24, 144, 254, 1);
}

/* Shared */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  color: var(--container-text-color);
  line-height: 1.6;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Util */
.container {
  max-width: 1600px;
  margin: 0 50px;
  height: 100%;
  color: inherit;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  /* grid-gap: 2rem; */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #333;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
  border: none;
  text-align: center;
}

.btn:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.page {
  height: 100vh;
  max-height: 100vh;
}

.tab-select {
  background: rgba(24, 144, 254, 1);
  color: white;
  font-weight: bold;
}

/* nav  */
.side-nav {
  height: 100%;
  width: 12vw;
  background: var(--sidenav-color);
  color: var(--sidenav-text-color);
  position: relative;
}

.sidenav {
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px 20px;
  text-align: center;
  font-size: 2rem;
  align-self: flex-start;
}

.side-nav {
  grid-template-columns: 1fr !important;
  grid-template-rows: repeat(12, 1fr);
}

.side-nav nav {
  grid-row: 2/12;
  align-self: flex-start;
}

.side-nav .tab-item {
  padding: 5px 10px;
  cursor: pointer;
  justify-content: stretch;
  font-size: 1.2rem;
}

.side-nav .tab-item i {
  margin-left: 10px;
}

.side-nav .tab-item:hover {
  background: rgba(24, 144, 254, 1);
  color: white !important;
  font-weight: bold;
}

#sidenavBtn {
  align-self: flex-end;
  padding: 10px 0;
  background: #002140;
  cursor: pointer;
}

/* Page Content */
.page-wrapper {
  width: 90vw;
  height: 100vh;
}

/* Header */
header {
  width: 100%;
  height: 10%;
  padding: 10px 0;
  background: var(--sidenav-color);
}

header .flex {
  justify-content: space-between;
}

/* Page Content */
.page-content {
  height: 90vh;
  padding: 10px 25px;
}
